{% extends 'base.html.twig' %}

{% block title %}Your User Profile{% endblock %}

{% block body %}
    <h1>Bienvenue <span style="color: green;">{{ username }}</span></h1>
    <h1>Mon profil utilisateur! ✅</h1>

    <p>
        <a href="{{ path('app_home') }}">Vers l'accueil</a>
    </p>
{% endblock %}
